html,
body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Tahoma, Helvetica, sans-serif;
    width: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

p {
    text-indent: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.8);
}

nav li a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
    cursor: pointer;
}

nav li a:hover:not(.ativo) {
    background-color: #ddd;
    color: #111;
}

.ativo {
    background-color: #f44336;
    cursor: default;
}

nav .icon {
    display: none;
}

#conteudo {
    margin: 10px;
}

#conteudo h1,
.contentor>h2,
#ligas>h3,
#tacas>h3 {
    text-align: center;
}

#ligas ul,
#tacas ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}

#ligas li a,
#tacas li a {
    text-decoration: none;
    display: inline-block;
    text-align: center;
    padding: 10px 12px;
    background-color: #ddd;
    color: #111;
    margin: auto;
}

.coluna {
    float: left;
    width: 50%;
    margin-bottom: 16px;
    padding: 0 8px;
}

.cartao {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.4);
}

.cartao>img, .cartao>iframe  {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    margin: auto;
    max-width: 100%;
    display: block;
}

.contentor {
    padding: 0 16px;
}

.contentor::after,
.linha::after {
    content: "";
    clear: both;
    display: table;
}

.contentor button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #f44336;
    text-align: center;
    cursor: pointer;
    width: 90%;
    border-radius: 4px;
}

.contentor button:hover {
    background-color: #c44336;
}

#jogadores,
#equipas,
#competicoes {
    overflow-x: auto;
}

div#jogadores,
div#equipas,
div#competicoes {
    height: 350px;
    overflow-y: auto;
}

table {
    border-collapse: collapse;
    width: 100%;
}

caption {
    font-size: 20pt;
    padding-bottom: 5px;
}

th,
td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

tbody tr {
    cursor: pointer;
}

tr:hover:not([selecionado]) {
    background-color: #ddd;
}

th {
    background-color: #f44336;
    color: white;
}

tr[selecionado] {
    color: white;
    background-color: steelblue;
}

.sclicado,
.sclicado:nth-child(even) {
    color: white;
    background-color: dimgrey;
}

form {
    border-radius: 5px;
    background: #f2f2f2;
    padding: 20px;
}

input[type="button"],
input[type="submit"] {
    border: none;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #f44336;
    color: aliceblue;
    border-radius: 4px;
}

input[type="button"][disabled],
input[type="submit"][disabled] {
    background-color: gray;
}

input[type=text],
input[type=number]:not(.escondido),
input[type=date],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#botoes,
#inscricoes,
#competicoes-decorrendo {
    width: 100%;
    display: block;
    clear: both;
}

#competicoes-decorrendo {
    margin: 4px 0;
}

#equipasInscritas,
#ligas-decorrendo {
    width: 48%;
    height: 240px;
    float: left;
    border: 2px solid grey;
    border-radius: 4px;
    margin-left: 1%;
    margin-right: 1%;
    overflow-y: auto;
}

#equipasInscritas ul,
#ligas-decorrendo ul,
#equipasNaoInscritas ul,
#tacas-decorrendo ul {
    list-style-type: none;
    text-align: center;
}

#equipasInscritas h3,
#ligas-decorrendo h3 {
    color: green;
    text-align: center;
}

#equipasNaoInscritas,
#tacas-decorrendo {
    width: 48%;
    height: 240px;
    float: left;
    border: 2px solid grey;
    border-radius: 4px;
    margin-left: 1%;
    margin-right: 1%;
    overflow-y: auto;
}

#equipasNaoInscritas h3,
#tacas-decorrendo h3 {
    color: red;
    text-align: center;
}

@media screen and (max-width: 600px) {
    nav a:not(.ativo) {
        display: none;
    }
    nav a.icon {
        float: right;
        display: block;
        cursor: pointer;
    }
    nav.responsivo {
        position: relative;
    }
    nav.responsivo .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    nav.responsivo a {
        float: none;
        display: block;
        text-align: left;
    }
    div#jogadores,
    div#equipas,
    div#competicoes {
        height: 250px;
        overflow-y: auto;
    }
    .coluna {
        width: 100%;
        display: block;
    }
    #equipasInscritas,
    #ligas-decorrendo {
        width: 100%;
        height: 150px;
        display: block;
        overflow-y: auto;
    }
    #equipasNaoInscritas,
    #tacas-decorrendo {
        width: 100%;
        height: 150px;
        display: block;
        margin-top: 1pc;
        overflow-y: auto;
    }
    div#botoes {
        width: 100%;
        display: block;
    }
}