html,
body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2E4272;
    position: fixed;
    top: 0;
    width: 100%;
}

nav li a {
    float: left;
    border-right: 1px solid #7887AB;
}

nav li:last-child {
    border-right: none;
}

nav li.sobre {
    background-color: #AA3C39;
    float: right;
}

nav li.sobre>a:hover,
nav li.sobre>a.ativo {
    background-color: #801815;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 0.6em;
    cursor: pointer;
}

nav li a:hover,
nav li a.ativo {
    background-color: #801815;
}

.ativo {
    background-color: #801815;
    cursor: default;
}

nav .icon {
    display: none;
}

#conteudo {
    margin: 10px;
}

#conteudo h1,
.contentor>h2,
#ligas>h3,
#tacas>h3 {
    text-align: center;
}

#ligas ul,
#tacas ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}

#ligas li a,
#tacas li a {
    text-decoration: none;
    display: inline-block;
    text-align: center;
    padding: 10px 12px;
    background-color: #ddd;
    color: #111;
    margin: auto;
}

.coluna {
    float: left;
    width: 50%;
    margin-bottom: 16px;
    padding: 0 8px;
}

.cartao {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.4);
}

.cartao>img,
.cartao>iframe {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    margin: auto;
    max-width: 100%;
    display: block;
}

.contentor {
    padding: 0 16px;
}

.contentor::after,
.linha::after {
    content: "";
    clear: both;
    display: table;
}

.contentor button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #2E4272;
    text-align: center;
    cursor: pointer;
    width: 90%;
    border-radius: 4px;
}

.contentor button:hover {
    background-color: #0E4272;
}

@media screen and (max-width: 600px) {
    nav a:not(.ativo) {
        display: none;
    }
    nav a.icon {
        float: right;
        display: block;
        cursor: pointer;
    }
    nav.responsivo {
        position: relative;
    }
    nav.responsivo .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    nav.responsivo a {
        float: none;
        display: block;
        text-align: left;
    }
    div#jogadores,
    div#equipas,
    div#competicoes {
        height: 250px;
        overflow-y: auto;
    }
    .coluna {
        width: 100%;
        display: block;
    }
    #equipasInscritas,
    #ligas-decorrendo {
        width: 100%;
        height: 150px;
        display: block;
        overflow-y: auto;
    }
    #equipasNaoInscritas,
    #tacas-decorrendo {
        width: 100%;
        height: 150px;
        display: block;
        margin-top: 1pc;
        overflow-y: auto;
    }
    div#botoes {
        width: 100%;
        display: block;
    }
}